<!-- JS -->
<script src="/sys/js/jquery.js"></script> <!-- jQuery -->
<!-- <script src="/plugins/jquery/jquery-1.7.2.min.js"></script>  --><!-- jQuery 1.7.2 -->
<script src="/sys/scripts/my.nav.js"></script><!-- Navigation -->
<script src="/plugins/bootstrap-3.3.0/dist/js/bootstrap.js"></script><!-- Bootstrap -->
<script src="/sys/js/jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="/sys/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="/sys/js/jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="/sys/js/jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot (image tool)-->
<script src="/sys/js/excanvas.min.js"></script>
<script src="/sys/js/jquery.flot.js"></script>
<script src="/sys/js/jquery.flot.resize.js"></script>
<script src="/sys/js/jquery.flot.pie.js"></script>
<script src="/sys/js/jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty (message tip) -->
<script src="/sys/js/jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="/sys/js/themes/default.js"></script> <!-- jQuery Notify -->
<script src="/sys/js/layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="/sys/js/layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="/sys/js/layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="/sys/js/sparklines.js"></script> <!-- Sparklines -->
<script src="/sys/js/jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="/sys/js/bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<!-- <script src="/sys/js/jquery.uniform.js"></script>  --><!-- jQuery Uniform -->
<script src="/sys/js/bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="/sys/js/filter.js"></script> <!-- Filter for support page -->
<script src="/sys/js/custom.js"></script> <!-- Custom codes -->
<script src="/sys/js/charts.js"></script> <!-- Charts & Graphs -->
