<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysResourceMapper">

	<resultMap id="RoleResourceResultMap" type="org.my.core.sys.model.SysResource" extends="org.my.core.common.dao.SysResourcesMapper.BaseResultMap">
		<result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
		<association property="style" javaType="org.my.core.common.model.SysStyles" column="{id=STYLE_ID}" select="SysStyleMapper.findById"></association>
		<collection property="children" javaType="ArrayList" column="{id=ID,type=TYPE,roleId=ROLE_ID}" select="findSubResources" />
	</resultMap>

	<resultMap id="AuthResourceResultMap" type="org.my.core.sys.model.SysResource" extends="org.my.core.common.dao.SysResourcesMapper.BaseResultMap">
		<collection property="roles" javaType="ArrayList" column="ID" select="SysRoleMapper.findByResourceId" />
	</resultMap>

	<resultMap id="NavResultMap" type="org.my.core.sys.model.SysResource" extends="org.my.core.common.dao.SysResourcesMapper.BaseResultMap">
		<collection property="children" javaType="ArrayList" column="{id=ID,type=TYPE}" select="findSubNav" />
	</resultMap>

	<resultMap id="BaseResultMap" type="org.my.core.sys.model.SysResource" extends="org.my.core.common.dao.SysResourcesMapper.BaseResultMap">
		<association property="parent" javaType="org.my.core.common.model.SysResources" column="{id=PARENT_ID}" select="findById"></association>
		<collection property="children" javaType="ArrayList" column="{id=ID,type=TYPE}" select="findSubNav" />
	</resultMap>

	<select id="findById" parameterType="HashMap" resultMap="org.my.core.common.dao.SysResourcesMapper.BaseResultMap">
		select
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		from sys_resources
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAllAuth" resultMap="AuthResourceResultMap">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<![CDATA[
		WHERE
		URL IS NOT NULL
		AND
		URL <> '#'
		]]>
	</select>

	<select id="findByT" resultMap="BaseResultMap" parameterType="org.my.core.sys.model.SysResource">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<where>
			<if test="type != null">
				TYPE = #{type}
			</if>
			<if test="isSys != null">
				IS_SYS = #{isSys}
			</if>
		</where>
	</select>

	<select id="findPageByT" resultMap="BaseResultMap" parameterType="org.my.core.sys.model.SysResource">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		<where>
			<if test="type != null">
				TYPE = #{type}
			</if>
			<if test="isSys != null">
				IS_SYS = #{isSys}
			</if>
		</where>
	</select>
	<!-- findNavResourceByRoleId start -->
	<select id="findNavByRoleId" resultMap="RoleResourceResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />,
		#{roleId} as ROLE_ID
		FROM
		sys_resources
		WHERE
		TYPE = '0'
		AND
		LEVEL = 0
		ORDER BY PRIORITY
	</select>

	<select id="findSubResources" parameterType="HashMap" resultMap="RoleResourceResultMap">
		SELECT
		t1.ID,
		t1.TYPE,
		t1.NAME,
		t1.DESCRIPTION,
		t1.STYLE_ID,
		t1.URL,
		t1.PRIORITY,
		t1.ENABLED,
		t1.IS_SYS,
		t1.MODULE_ID,
		t2.ROLE_ID
		FROM
		sys_resources t1
		JOIN
		sys_roles_resources t2
		ON
		t1.ID = t2.RESOURCE_ID
		WHERE
		t1.PARENT_ID = #{id}
		AND
		t1.TYPE = #{type}
		AND
		t2.ROLE_ID = #{roleId}
		ORDER BY PRIORITY
	</select>
	<!-- findNavResourceByRoleId end -->
<!-- findAllNav start -->
	<select id="findAllNav" resultMap="NavResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		WHERE
		TYPE = '0'
		AND
		LEVEL = 0
		ORDER BY PRIORITY
	</select>

	<select id="findSubNav" parameterType="HashMap" resultMap="NavResultMap">
		SELECT
		<include refid="org.my.core.common.dao.SysResourcesMapper.Base_Column_List" />
		FROM
		sys_resources
		WHERE
		PARENT_ID = #{id}
		AND
		TYPE = #{type}
		ORDER BY PRIORITY
	</select>
	<!-- findAllNav start -->
</mapper>
