<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysStyleMapper">
	
	<select id="findByResourceId" parameterType="java.lang.String" resultMap="org.my.core.common.dao.SysStylesMapper.BaseResultMap">
		SELECT
		t1.css,t1.ICON_NAME
		FROM
		sys_styles t1
		JOIN
		sys_resources_styles t2
		ON
		t1.STYLE_ID = t2.STYLE_ID
		WHERE
		t2.RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
	</select>

  <select id="findById" parameterType="HashMap" resultMap="org.my.core.common.dao.SysStylesMapper.BaseResultMap">
    select 
    <include refid="org.my.core.common.dao.SysStylesMapper.Base_Column_List" />
    from sys_styles
    where ID = #{id,jdbcType=INTEGER}
  </select>
</mapper>
