<!DOCTYPE HTML>
<html>
<head>
<title>Projects</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Wolshino Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.useso.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/swipebox.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.swipebox.min.js"></script> 
<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	<!------ Eng Light Box ------>	
</head>
<body>
<!-- header -->
	<div class="header">
  	    <div class="container">
			<div class="head-nav">
				<span class="menu"> </span>
					<ul class="cl-effect-16">
						<li><a href="about.html"  data-hover="ABOUT">ABOUT</a></li>
						<li class="active"><a href="projects.html"  data-hover="PROJECTS">PROJECTS</a></li>
						<li><a href="gallery.html"  data-hover="GALLERY">GALLERY</a></li>
						<li><a href="houses.html"  data-hover="HOUSES">HOUSES</a></li>
						<li><a href="404.html"  data-hover="GENERAL PLAN">GENERAL PLAN</a></li>
						<li><a href="contact.html"  data-hover="LOCATION">LOCATION</a></li>
							<div class="clearfix"> </div>
					</ul>
			</div>
						<!-- script-for-nav -->
					<script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
					</script>
				<!-- script-for-nav --> 					
			<div class="header-bottom">
				<div class="head-left">
					<p>+2  495  <span>134-27-72</span></p>
				</div>
					<div class="logo">
						<a href="index.html"><img src="images/logo.png" class="img-responsive" alt="" /></a>
					</div>
					<div class="head-right">
						<div class="search2">
					  <form>
						 <input type="text" value="YOUR QUESTION" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'YOUR QUESTION..';}">
					  </form>
					</div>
				</div>
					<div class="clearfix"> </div>
			</div> 	
			</div> 
			</div> 
<!-- header -->
	<div class="main">
		<div class="container">
			<h2>PROJECTS</h2>
			<div class="services">
				  <div class="section group">
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img10.jpg"class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div><img src="images/img10.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img8.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img8.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img7.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img7.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img9.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img9.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="clear"></div> 
		   		  </div>
		   		   <div class="section group">
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img12.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img12.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img9.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img9.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img10.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img10.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="grid_1_of_4 images_1_of_4">
						<a href="images/img8.jpg" class="b-link-stripe b-animate-go  thickbox swipebox" title="Image Title"><div class="b-line b-line1"></div><div class="b-line b-line2"></div><div class="b-line b-line3"></div><div class="b-line b-line4"></div><div class="b-line b-line5"></div> <img src="images/img8.jpg" alt=""><span class="zoom-icon"></span> </a>
						<h4>Aenean nonummy hendrerit</h4>
						<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient.</p>
						<a href="#" class="link">Read More</a>
					</div>
					<div class="clear"></div> 
		   		  </div>
			</div>
		</div>
	</div>
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-6 footer-left">
				<div class="footer-top">
					<h6>Share with your friends</h6>
				</div>
				<div class="social">
					<ul>
						<li><a href="#"><i class="pho"> </i></a></li>
						<li><a href="#"><i class="behanc"> </i></a></li>
						<li><a href="#"><i class="twiter"> </i></a></li>
						<li><a href="#"><i class="facebok"> </i></a></li>
							<div class="clearfix"></div>	
					</ul>
				</div>
					<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 footer-right">
				<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		</div>
	</div>
<!-- footer -->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>